ServerAliveInterval 120
AddKeysToAgent yes

Host clark
HostName clark.jflei.com
User clark
ForwardAgent yes

Host kent
#HostName kent.jflei.com
HostName kent
User kent

Host ccm
HostName 54.148.223.17
User gjcomps

Host wca
HostName worldcubeassociation.org
User cubing

Host wca-new
HostName 34.208.140.116
User cubing

Host wca-old
HostName 34.208.140.116
User cubing

Host staging.wca
HostName staging.worldcubeassociation.org
User cubing

Host cusa
HostName cubingusa.com
User ubuntu

Host scottpi
HostName raspberrypi.local
User pi

Host ocf
HostName ssh.ocf.berkeley.edu
User jfly

### Hadron Labs stuff
Host hadronlabs
HostName www.hadronlabs.com
User ec2-user
### End Hadron Labs stuff
