ServerAliveInterval 120
AddKeysToAgent yes

Host clark
HostName clark.jflei.com
User clark
ForwardAgent yes
### For pressplay docker development
LocalForward 4040 10.5.0.1:80
LocalForward 4141 10.5.1.1:80
###

Host kent
#HostName kent.jflei.com
HostName kent
User kent

Host ccm
HostName 54.148.223.17
User gjcomps

Host wca
HostName worldcubeassociation.org
User cubing

Host wca-new
HostName 54.200.244.83
User cubing

Host wca-old
HostName 54.187.65.70
User cubing

Host staging.wca
HostName staging.worldcubeassociation.org
User cubing

Host cusa
HostName cubingusa.com
User ubuntu

Host scottpi
HostName raspberrypi.local
User pi

Host ocf
HostName ssh.ocf.berkeley.edu
User jfly

### Hadron Labs stuff
Host hadronlabs
HostName www.hadronlabs.com
User ec2-user

# WeChat official account name: PressPlayCN
Host ppgapi.cn-1
HostName 121.40.203.30
User root

Host ppgapi.cn-2
HostName 121.40.195.151
User root
### End Hadron Labs stuff
