# Inspired by http://jasonwryan.com/blog/2014/01/20/udev/
# and http://www.ocsmag.com/2015/09/02/monitoring-file-access-for-dummies/
[Unit]
Description=Configure external keyboard

[Service]
Type=oneshot
ExecStart=/home/jeremy/bin/fixkeys
