[Unit]
Description=Refresh monitors

[Service]
Type=simple
# Don't kill child processes started by autoperipherals
KillMode=none

ExecStart=/home/jeremy/bin/x11-run-as jeremy autoperipherals

[Install]
WantedBy=multi-user.target
