[Unit]
Description=Run trayer alongside xmobar

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/jeremy/.Xauthority
ExecStart=/usr/bin/trayer --edge top --align right --SetDockType true --SetPartialStrut true --expand true --width 10 --height 25 --transparent true --alpha 0 --tint 0
